.contactForm {
  margin: 0 auto;
  padding: 3em 15px;
  max-width: 1140px;
  h2 {
    font-size: 1.75rem;
    font-weight: normal;
    margin-bottom: 0.7em;
    text-align: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    margin: 0 auto;
  }
  .addresses {
    display: grid;
    grid-gap: 1em;
    align-self: start;
  }
  .addressGroup {
    border: 1px solid #eee;
    padding: 2em;
    h4 {
      color: #207dff;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.7em;
      text-transform: uppercase;
    }
    p {
      color: #8c92a0;
      font-size: 1rem;
      line-height: 1.7em;
    }
  }
}

@media (min-width: 600px) {
  .contactForm {
    .addresses {
      justify-self: center;
    }
  }
}

@media (min-width: 992px) {
  .contactForm {
    padding: 5em 30px;
    h2 {
      text-align: left;
    }
    .wrapper {
      grid-template-columns: 1fr 1fr;
    }
    .addresses {
      justify-self: stretch;
    }
  }
}

@media (min-width: 1200px) {
  .contactForm {
    padding: 5em 0;
  }
}
