.Button {
  padding: .75em 1.875em;
  font-size: .8125em;
  text-transform: uppercase;
  transition: .3s all ease-in-out;
}

/* .CoverBlock {
  background-color: white;
  color: #207dff;
  border: 1px solid #207dff;
}

.CoverBlock:hover {
  background-color: #207dff;
  color: white;
} */

.CoverBlock {
  background: black;
  color: white;
}

.CoverBlock:hover {
  opacity: 0.7;
}