.signUp {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  padding: 3em 15px;
  max-width: 1140px;
  h2 {
    font-size: 1.75rem;
    font-weight: normal;
    margin-bottom: 0.7em;
    text-align: center;
  }
}